@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.mount.dark {
  --bg-h1: #212121;
  --bg-h2: #383a38;

  --text-l1: #555;
  --text-l2: #fffcec;
  --text-h1: #ffffff;

  --shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  --button-color-h1: #fff3;
  --button-color-h2: #fff5;

  --disabled: #333;
  --muted: #fff2;
}

.mount.light {
  --bg-h1: #f1f1f1;
  --bg-h2: #ffffff;

  --text-l1: #999;
  --text-l2: #212121;
  --text-h1: #111111;

  --shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
  --button-color-h1: #0003;
  --button-color-h2: #0004;

  --disabled: #aaaaaa;
  --muted: #fff9;
}

:root {
  --static-bg-h1: #212121;

  --static-text-l1: #555;
  --static-text-l2: #fffcec;
  --static-text-h1: #ffffff;

  --accent-l1: #343f36;
  --accent-l2: #3f4941;
  --accent-h1: #647766;
  --accent-h2: #79917c;

  --stroke: var(--text-h1, var(--accent-h3));
  --success: #0b953b;
  --warn: #f8be1b;
  --error: #aa0000;
  --link: #539BF5;

  --transition: cubic-bezier(0, 1, .74, 1) .3s;

  --border-radius: 15px;
  --focus: 4px solid var(--link);

  --font-primary: 'Mukta', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-secondary: 'Mukta', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: 'Roboto Mono', ui-monospace, monospace;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-h1);
}

::-webkit-scrollbar-thumb {
  border: 6px solid var(--bg-h1);
  background-color: var(--button-color-h1);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--button-color-h2);
}



/* regular */



* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

*:focus {
  border: none;
  outline: none;
}

html,
body,
main,
.full,
.overlay {
  height: 100%;
  width: 100%;
}

.mount {
  font-family: var(--font-secondary);
  color: var(--text-h1);
  fill: var(--text-h1);

  background-color: var(--bg-h1);

  transition: var(--transition);
  scroll-behavior: smooth;
}

html,
body,
.mount {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.scroll {
  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll.locked {
  width: calc(100% - 20px);

  overflow-y: hidden;
}

@media (pointer:none),
(pointer:coarse) {
  .scroll.locked {
    width: 100%;
  }
}

main .page {
  width: 90%;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

p {
  color: var(--text-h3);
}

hr {
  border: none;
}

svg {
  min-width: 24px;
}



/* reset */



a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}



p,
i,
b,
span,
code {
  color: inherit;
  user-select: text;
}

code {
  font-family: var(--font-mono);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  user-select: none;
}



/* usual classes */



/* divs */

.outline {
  background-color: transparent;
  border: 3px solid var(--bg-h1);
  outline: 2px solid var(--button-color-h2);

  overflow: hidden;

  border-radius: var(--border-radius);
  transition: var(--transition);
}

.solid {
  background-color: var(--bg-h1);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.icon-stack {
  position: absolute;
  top: 0;
  margin: 10% 20%;
  z-index: 15;

  display: flex;
  gap: 15px
}

.icon-stack {
  position: absolute;
  top: 0;
  margin: 10% 20%;
  z-index: 15;

  display: flex;
  gap: 15px
}

@media only screen and (max-width: 700px) {
  .icon-stack {
    margin: 10%;
  }

  h1 {
    font-size: 2em;
  }
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-gap {
  display: flex;
  gap: 10px;
}

.center {
  display: grid;
  place-items: center;
}

.center-text {
  text-align: center;
  justify-content: center;
}

.page {
  height: 100%;
  width: 90%;
  margin: 0 5%;

  background-color: var(--bg-color);

  overflow: hidden;
}

.overlay {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;

  background-color: var(--bg-color);
}

.hr {
  margin: 15px 0;
  border: 1px solid var(--button-color-h2);
}


.input {
  padding: 20px 20px;
  margin-bottom: 15px;

  height: 50px;
  min-width: 400px;

  border: none;
  resize: none;

  background-color: transparent;
  border: 2px solid var(--button-color-h2);
  border-radius: var(--border-radius);

  font-family: var(--font-primary);
  color: var(--text-h1);
  font-size: 16px;

  transition: var(--transition);
}

.input:focus {
  border: 2px solid var(--button-color-h2);
}


/* buttons */

.btn,
.mantine-Button-root {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--button-color-h1);
  border: 3px solid transparent;
  outline: 2px solid transparent;
  background-clip: padding-box;

  margin: 2px;
  padding: 10px 20px;

  font-weight: bold;
  font-size: 16px;

  color: var(--text-h1);
  fill: var(--text-h3);

  cursor: pointer;

  border-radius: var(--border-radius);
  transition: var(--transition);
}

.btn:focus,
.mantine-Button-root:focus {
  background-color: var(--button-color-h1);
  outline: 2px solid transparent;
}

.btn:hover,
.mantine-Button-root:hover {
  outline: 2px solid var(--color, var(--button-color-h1));
}

.btn:focus-visible {
  background-color: var(--button-color-h1);
  outline: 2px solid var(--link);
}

.btn:active {
  animation: pulse var(--transition) forwards;
}

@keyframes pulse {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.important {
  font-size: 1.5em;
}

.a {
  cursor: pointer;
  display: inline-flex;
  color: var(--link);
}

.a:hover,
.a:focus-visible {
  text-decoration: underline;
}

.icon,
.mantine-CloseButton-root {
  border-radius: 50%;
  fill: var(--text-h1);
  transition: var(--transition);
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
}

.icon:hover,
.icon:focus-visible,
.mantine-CloseButton-root:hover,
.mantine-CloseButton-root:focus-visible {
  backdrop-filter: blur(20px);
  background-color: var(--button-color-h1);
}

.icon:focus-visible,
.mantine-CloseButton-root:focus-visible {
  outline: var(--focus);
}

.disabled {
  color: var(--disabled) !important;
  fill: var(--disabled) !important;
  cursor: not-allowed !important;
}

.muted {
  color: var(--muted) !important;
  fill: var(--muted) !important;
  cursor: not-allowed !important;
}

/* text */

.glow {
  user-select: none;

  background: linear-gradient(120deg, var(--accent-h1), var(--accent-h2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.label {
  font-size: 0.8em;
  color: var(--text-h3);
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

.error {
  color: var(--error);
  font-weight: bold;
}

/* inputs */

.search {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
  margin-bottom: 15px;

  background-color: transparent;
  border: 2px solid var(--button-color-h2);
  border-radius: var(--border-radius);
}

.search .search-icon {
  fill: var(--button-color-h2);
  min-width: 24px;
}

.search input {
  border: none;
  resize: none;

  width: 90%;

  background-color: transparent;

  font-family: var(--font-primary);
  color: var(--text-h1);
  font-size: 18px;

  transition: var(--transition);
}


/* any */

.space-l {
  margin-bottom: 50px;
}

.space-m {
  margin-bottom: 20px;
}

.space-s {
  margin-bottom: 10px;
}


/* mantine */



.mantine-Tooltip-tooltip {
  font-family: var(--font-secondary);
  font-weight: bold;

  border-radius: var(--border-radius);
  border: none;
  outline: none;
}

.light .mantine-Tooltip-tooltip {
  background-color: var(--static-bg-h1);
  color: var(--static-text-h1);
}

.dark .mantine-Tooltip-tooltip {
  background-color: var(--static-text-h1);
  color: var(--static-bg-h1);
}

.mantine-Tooltip-tooltip {
  position: absolute;

  padding: 10px 15px;
}


.mantine-Notifications-root {
  position: fixed;

  bottom: 0;
  right: 0;
  padding: 1%;

  z-index: 200;

  overflow: hidden;
}

.mantine-Notifications-notification {
  background-color: var(--bg-h1);
  border-radius: var(--border-radius);

  position: relative;
  padding: 15px 25px;

  display: flex;
  gap: 10px;
  align-items: center;

  border: 3px solid var(--accent-h1);

  margin-top: 10px;
}

.mantine-Notification-title {
  font-family: var(--font-primary);
  font-size: 1.5em;
}

.mantine-Notification-description {
  margin-top: 10px;
  line-height: 1.2;
}

.mantine-CloseButton-root svg {
  --cb-icon-size: 24px;
}