.courses {
   padding: 5% 2.5%;
}

.courses .actual {
   display: flex;
   flex-direction: column;

   gap: 20px;

   list-style-type: none;
}

.course {
   display: flex;
   flex-direction: row;

   border-radius: var(--border-radius);
   cursor: pointer;

   min-height: 150px;

   transition: var(--transition);
}

.course:hover {
   outline: 2px dashed var(--link);
   background-color: var(--bg-h1);
}

.course>.content {
   padding: 20px;
   display: flex;
   flex-direction: column;

   gap: 10px;
}

.course>.content .new {
   width: 100%;
   margin-bottom: 0;
}

.course .period {
   height: 100%;
   padding: 0 5%;

   font-size: 1.5em;
   color: var(--button-color-h2);
}

.course .period {
   width: 120px;
}

.course .task {
   display: flex;
   align-items: stretch;
   gap: 10px;

   width: 100%;

   padding: 0 20px;

   background-color: var(--button-color-h1);
   border-radius: var(--border-radius);

   transition: var(--transition);

   cursor: pointer;
}

.course .task .remove {
   position: absolute;
   top: 0;
   left: -30px;

   height: 40px;

   fill: var(--success);
}

.course .task p {
   user-select: none;
}


.course .task .modify {
   fill: var(--button-color-h2);
   transition: var(--transition);

   cursor: pointer;
}

.course .task .modify:hover {
   fill: var(--text-h1);
}

.course .task .modify:focus-visible {
   fill: var(--link);
}

.course .task .content {
   display: flex;
   align-items: center;

   height: 40px;
}

.course .task:hover {
   text-decoration: line-through;
   background-color: #3789228b;
}

.course .task .content:focus-visible {
   text-decoration: line-through;
}

.course .task:has(.content:focus-visible) {
   background-color: #3789228b;
}