.courses {
   padding: 5% 2.5%;
}

.courses .actual {
   display: flex;
   flex-direction: column;

   gap: 20px;

   list-style-type: none;
}

.course {
   display: flex;
   flex-direction: row;

   border-radius: var(--border-radius);
   cursor: pointer;

   height: 150px;

   transition: var(--transition);
}

.course:hover {
   outline: 2px dashed var(--link);
}

.course .content {
   padding: 20px;
}

.course .period {
   height: 100%;
   width: 10%;

   font-size: 1.5em;
   color: var(--button-color-h2);
}

.course .task {
   display: flex;
   align-items: stretch;
   gap: 10px;

   width: 40%;
}

.course .task>div {
   display: flex;

   padding: 10px 20px;

   background-color: var(--button-color-h1);
   border-radius: var(--border-radius);

   transition: var(--transition);
}

.course .task .modify {
   padding: 0 10px;
}

.course .task .modify:hover {
   background-color: var(--button-color-h2);
}